style.css

body{
	background-color:#D15D30;
}

div{
height:200px;
background-color: white;
border:3px outset; color: #D15D30;
}

img{height: 100px;
width: 100px;
vertical-align: center;
vertical-align: middle;
}


#top{
height: 100px;
background-color: white;
border:7px outset; color: #D15D30;
}

title{

	display : inline;
	color: #D15D30;
	padding: 20px;
	text-align: center;
	height: 5em;
}

 li{
	color: #D15D30;
	

 }

ul{
	padding: 20px;
	list-style-type: circle;
}



