style.css

/* style de mon portfolio */

#imageCentre {text-align:center

}

#chance{
	padding: 100px;
}
img {display: inline;}





ol, ul {
		list-style: none;
		display: inline;
		display: block;
	}




/* css image ordonnées */

#espoire{
	width: 1050px;
		height: 20px;
	
	margin: 20px auto;
	text-align: center;
	display: inline-block;
	
}
#bobo{
	text-align: center;
	height: 20px;
	color: #FFB18B;

}
#baba{
	text-align: center;
	height: 20px;
	color: #FFB18B;
}